{% block app_filter_widget %}
    {{ form_start(form) }}
    <div class="well">

        <div class="row">

            {% for field in form %}
                {% if field.vars.name != 'submit' and field.vars.name != 'reset' and field.vars.name != '_token' %}
                    <div class="col-md-2">
                        {{ form_widget(field) }}
                    </div>
                {% endif %}
            {% endfor %}

        </div>

        {{ form_rest(form) }}

    </div>
    {{ form_end(form) }}
{% endblock app_filter_widget %}
