<div class="app-datagrid" {{ updateUrl is defined ? ('data-update-url="'~updateUrl~'"')|raw : "" }} >

    {% if filter is defined %}
        <div class="app-datagrid-filter">
            {{ form_widget(filter, {'attr':{'class':'list-filter gray-box app-datagrid-filter'}}) }}
        </div>
    {% endif %}

    <div class="app-datagrid-refreshable">

        {% block pagination %}{% endblock pagination %}

        <div class="app-datagrid-table">

            {% block table %}{% endblock table %}

            <div class="app-datagrid-loader">
                <div class="loader-overlay"></div>
                <div class="loader-center">
                    <div><i class="fa fa-spinner fa-spin" style="font-size:48px"></i></div>
                </div>
            </div>

        </div>

    </div>

</div>
