<div class="app-datagrid">

    {% if filter is defined %}
        <div class="app-datagrid-filter">
            {{ form_widget(filter, {'attr':{'class':'list-filter gray-box app-datagrid-filter'}}) }}
        </div>
    {% endif %}

    <div class="app-datagrid-refreshable">

    {% block pagination %}{% endblock pagination %}

        <div class="app-datagrid-table">

            {% block table %}{% endblock table %}

            <div class="app-datagrid-loader">
                <div class="loader-overlay"></div>
                <div class="loader-center">
                    <div><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></div>
                    <div class="loader-text"><span>LOADING...</span></div>
                </div>
            </div>

        </div>

    </div>

</div>
