{% extends 'inner.html.twig' %}
{% set header = 'app.product.plural_label'|trans %}

{% block body %}

    {% embed "buttons.html.twig" %}
        {% block buttons %}
            <a href="{{ path('product_create') }}" class="btn btn-primary">{{ 'app.product.new'|trans }}</a>
        {% endblock %}
    {% endembed %}

    {% include "@App/Product/include/grid.html.twig" %}

{% endblock %}
