{% extends "AppBundle:UserSettings:layout.html.twig" %}
{% set subheader = 'app.general' %}

{% block subActions %}
    <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-labeled btn-default"><span
                class="btn-label"><i
                    class="glyphicon glyphicon-pencil"></i></span>{{ 'profile.edit.label'|trans }}</a>
    <a href="{{ path('fos_user_change_password') }}"
       class="btn btn-default">{{ 'change_password.submit'|trans() }}</a>
{% endblock %}

{% block innerBody %}
    <section class="content-panel">
        {% include "FOSUserBundle:Profile:show_content.html.twig" %}
    </section>
{% endblock innerBody %}
