{% if entity.relatedPatients|length > 0 %}
    <ul>
        {% for relatedPatient in entity.relatedPatients %}
            <li>
                {{ relatedPatient.patientRelationship }}:
                <a href="{{ path('patient_view', {'id':relatedPatient.patient.id}) }}">{{ relatedPatient.patient }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
