{% extends 'inner.html.twig' %}

{% block header %}
    {{ 'app.treatment.plural_label'|trans }}
{% endblock %}

{% block body %}

    {% embed "buttons.html.twig" %}
        {% block buttons %}
            <a href="{{ path('treatment_create') }}" class="btn btn-primary">{{ 'app.treatment.new'|trans }}</a>
        {% endblock %}
    {% endembed %}

    {% include "@App/Treatment/include/grid.html.twig" %}

{% endblock %}
