{% extends 'inner.html.twig' %}
{% set header = entity.id ? 'app.treatment.edit'|trans : 'app.treatment.new'|trans %}
{% set headerIcon = 'title-treatments' %}

{% block pageActions %}
    {% include "@App/Treatment/include/buttons.html.twig" %}
{% endblock %}

{% block body %}
    <section class="content-panel">
        {% include "@App/Treatment/include/form.html.twig" %}
    </section>
{% endblock %}
