{% extends '@App/Patient/layout.html.twig' %}
{% set subheader = 'app.treatment_note.plural_label' %}

{% block subActions %}
    {% for template in templates %}
        <a href="{{ path('treatment_note_create',{'patient':app_hash(entity), 'template':app_hash(template)}) }}"
           class="btn btn-labeled btn-default"><span
                    class="btn-label"><i
                        class="glyphicon glyphicon-plus"></i></span>{{ 'app.treatment_note.new'|trans }} "{{ template }}
            "</a>
    {% endfor %}
{% endblock %}

{% block innerBody %}
    <section class="content-panel">
        {% include "@App/TreatmentNote/include/grid.html.twig" %}
    </section>
{% endblock %}
