<script>

    $('body').on('submit', 'form.app-appointment-form', function (e) {
        e.preventDefault();

        var form = $(this);
        ajaxFormHandler(form, function (data) {
            render();
            if (!data.error) {
                if (typeof refreshCalendarWidget === 'function') {
                    refreshCalendarWidget();
                } else {
                    redirectToCal();
                    $("#calendar").fullCalendar('refetchEvents');
                }
            }
        });
    });

    /*
    // Looks unused, maybe we need to delete it
    $('body').on('submit', 'form.app-appointment-form-with-patient', function (e) {
        e.preventDefault();

        var form = $(this);
        ajaxFormHandler(form, function (data) {
            render();
            if (!data.error) {
                $("#calendar").fullCalendar('refetchEvents');
            }
        });
    });
    */

    $('body').on('click', '.app-appointment-create', function (e) {
        e.preventDefault();
        appointmentCreate();
    });

    $('body').on('click', '.cancel-reschedule', function (e) {
        e.preventDefault();
        var url = Routing.generate('calendar_index');
        window.location.href = url;
    });

    $('body').on('change', 'form.app-appointment-form #app_appointment_treatment', function (e) {
        var duration = $(this).find('option:selected').data('duration');
        if (typeof duration !== 'undefined' && duration > 0) {

            var h = $('form.app-appointment-form .app-event-time-start select[name="h"]').val();
            var m = $('form.app-appointment-form .app-event-time-start select[name="m"]').val();
            var ampm = $('form.app-appointment-form .app-event-time-start select[name="ampm"]').val();

            var url = Routing.generate('event_end_time', {
                'h': h,
                'm': m,
                'ampm': ampm,
                'd': duration,
            });

            $.ajax({
                url: url,
                type: "POST",
                dataType: "json",
                data: {},
                success: function (data, textStatus) {
                    $('form.app-appointment-form .app-event-time-end select[name="h"] option[value="' + data.h + '"]').prop('selected', true);
                    $('form.app-appointment-form .app-event-time-end select[name="m"] option[value="' + data.m + '"]').prop('selected', true);
                    $('form.app-appointment-form .app-event-time-end select[name="ampm"] option[value="' + data.ampm + '"]').prop('selected', true);
                    $('form.app-appointment-form .app-event-time-end select[name="h"]').trigger('change');
                }
            });
        }
    });

    $('body').on('click', '.app-appointment-edit', function (e) {
        e.preventDefault();

        var appointmentId = $(this).data('entityId');

        var parentModal = $(this).parents('.modal:first');
        if ($(parentModal).length) {
            eventEdit(appointmentId, parentModal);
            return;
        }

        eventEdit(appointmentId);
    });

    $('body').on('click', '.app-appointment-view', function (e) {
        e.preventDefault();

        var appointmentId = $(this).data('entityId');

        var parentModal = $(this).parents('.modal:first');
        if ($(parentModal).length) {
            eventView(appointmentId, parentModal);
            return;
        }

        eventView(appointmentId);

        if ($(this).hasClass('treatment-note-header')) {
            e.stopPropagation();
        }
    });

    $('body').on('click', '.app-patient-arrived', function (e) {
        e.preventDefault();

        loaderShow();

        var button = $(this);
        var appointmentPatientId = $(this).data('entityId');
        var eventId = $(this).data('eventId');
        var noShowBtn = $(this).parents('.appt-actions:first').find('.app-no-show:first');;

        var url = Routing.generate('appointment_patient_arrived', {
            'id': appointmentPatientId
        });

        $.ajax({
            url: url,
            type: "POST",
            dataType: "json",
            data: {},
            success: function (data, textStatus) {
                var parentModal = $(this).parents('.modal:first');
                eventView(eventId, parentModal);

                $('#calendar').fullCalendar('refetchEvents');
                if (data.state == "1") {
                    notify('app.appointment.message.patient_arrived', 'success');
                    $(button).addClass('arrived');
                    $(noShowBtn).addClass('display-none');
                } else {
                    notify('app.appointment.message.patient_not_arrived', 'success');
                    $(button).removeClass('arrived');
                    $(noShowBtn).removeClass('display-none');
                }
            },
            error: function () {
                notify('app.message.undefined_error', 'danger');
                loaderHide();
            }
        });
    });

    $('body').on('click', '.app-resend-first-appt-email', function (e) {
        e.preventDefault();

        loaderShow();

        var button = $(this);
        var appointmentPatientId = $(this).data('entityId');

        var url = Routing.generate('appointment_resend_first_appt', {
            'id': appointmentPatientId
        });

        $.ajax({
            url: url,
            type: "POST",
            dataType: "json",
            data: {},
            success: function (data, textStatus) {
                notify('app.appointment.first_appt_email_sent', 'success');
            },
            error: function () {
                notify('app.message.undefined_error', 'danger');
                loaderHide();
            }
        });
    });

    $('body').on('click', '.app-no-show', function (e) {
        e.preventDefault();

        loaderShow();

        var button = $(this);
        var appointmentId = $(this).data('entityId');
        var eventId = $(this).data('eventId');
        var arrivedBtn = $(this).parents('.appt-actions:first').find('.app-patient-arrived:first');

        var url = Routing.generate('appointment_no_show', {
            'id': appointmentId
        });

        $.ajax({
            url: url,
            type: "POST",
            dataType: "json",
            data: {},
            success: function (data, textStatus) {
                var parentModal = $(this).parents('.modal:first');
                eventView(eventId, parentModal);

                $('#calendar').fullCalendar('refetchEvents');
                if (data.state == "1") {
                    $(button).removeClass('btn-default');
                    $(button).addClass('btn-danger');
                    $(arrivedBtn).addClass('display-none');
                } else {
                    $(button).removeClass('btn-danger');
                    $(button).addClass('btn-default');
                    $(arrivedBtn).removeClass('display-none');
                }
            },
            error: function () {
                notify('app.message.undefined_error', 'danger');
                loaderHide();
            }
        });
    });

    $('body').on('click', '.use-pack', function (e) {
        e.preventDefault();

        var appointmentId = $(this).data('entityId');
        var patient = $(this).data('patientName');
        var treatment = $(this).data('treatmentName');

        var url = Routing.generate('appointment_link_to_treatment_pack', {
            'id': appointmentId
        });

        bootbox.confirm({
            title: Translator.trans('app.confirm'),
            message: Translator.trans('app.treatment_pack.use_confirm', {
                'patient': patient,
                'treatment': treatment,
            }),
            buttons: {
                cancel: {
                    className: 'btn-default',
                    label: Translator.trans('app.action.cancel')
                },
                confirm: {
                    className: 'btn-success',
                    label: Translator.trans('app.yes')
                }
            },
            callback: function (result) {
                if (result) {

                    loaderShow();

                    $.ajax({
                        url: url,
                        type: "POST",
                        dataType: "json",
                        data: {},
                        success: function (data, textStatus) {
                            loaderHide();

                            if (data.invoiceUrl !== '') {
                                $('#appointment-modal').find('.invoice-or-pack-btn').replaceWith('<a href="' + data.invoiceUrl + '" class="btn btn-default btn-block">' + Translator.trans('app.invoice.view') + '</a>')
                                $('#calendar').fullCalendar('refetchEvents');
                                notify('app.treatment_pack.message.used', 'success');
                            }
                        },
                        error: function () {
                            notify('app.message.undefined_error', 'danger');
                            loaderHide();
                        }
                    });

                }
            }
        });


    });

    $('body').on('click', '.app-appointment-cancel', function (e) {
        e.preventDefault();

        loaderShow();

        var modal = $(this).parents('.modal:first');
        var appointmentId = $(this).data('entityId');
        var reasonId = $(this).data('cancelReasonId');

        var url = Routing.generate('appointment_cancel', {
            'id': appointmentId,
            'reason': reasonId
        });

        $.ajax({
            url: url,
            type: "POST",
            dataType: "json",
            data: {},
            success: function (data, textStatus) {
                loaderHide();
                notify('app.appointment.message.cancelled', 'success');
                $(modal).modal('hide');
                $('#calendar').fullCalendar('refetchEvents');
            },
            error: function () {
                notify('app.message.undefined_error', 'danger');
                loaderHide();
            }
        });
    });

    $('body').on("click", '[data-toggle="delete-confirmation-event"]', function (e) {
        var modal = $(this).parents('.modal:first');
        var deleteUrl = $(this).data('href');

        eventDeleteConfirmationHandler($(this), function (affect) {
            loaderShow();
            $.ajax({
                url: deleteUrl,
                type: "POST",
                dataType: "json",
                data: {
                    affect: affect,
                },
                success: function (data, textStatus) {
                    notify('app.event.message.deleted', 'success');
                    $(modal).modal('hide');
                    $('#calendar').fullCalendar('refetchEvents');
                },
                error: function () {
                    loaderHide();
                    $('#calendar').fullCalendar('refetchEvents');
                    notify('app.message.undefined_error', 'danger');
                }
            });
        });
    });

    function appointmentCreate(date, resourceIndex, patient) {
        var routeParams = {};
        if (typeof patient !== 'undefined') {
            routeParams.patient = patient;
        }
        routeParams.resourceId = resourceIndex;
        eventCreate(date, 'appointment_create', routeParams);
    }

    function appointmentCreateWithPack(date, resourceIndex, pack) {
        var routeParams = {};
        routeParams.pack = pack;
        routeParams.resourceId = resourceIndex;
        eventCreate(date, 'appointment_create', routeParams);
    }

    function eventDeleteConfirmationHandler(element, callback) {
        var deleteUrl = $(element).data('href');
        var entityLabel = $(element).data('entityLabel') ? $(element).data('entityLabel') : '';

        bootbox.confirm({
            title: Translator.trans('app.modals.delete.title'),
            message: Translator.trans('app.modals.delete.message', {
                item: entityLabel.toLowerCase()
            }) +
            '<hr/><div style="padding-left: 30px;">' +
            '<label style="font-weight: normal; cursor: pointer;"><div class="radio"><input type="radio" name="delete_affect" value="this" checked>' + Translator.trans('app.recurrency.affect.this') + '</input></label></div>' +
            '<label style="font-weight: normal; cursor: pointer;"><div class="radio"><input type="radio" name="delete_affect" value="this_and_following">' + Translator.trans('app.recurrency.affect.this_and_following') + '</input></label></div>' +
            '<label style="font-weight: normal; cursor: pointer;"><div class="radio"><input type="radio" name="delete_affect" value="all">' + Translator.trans('app.recurrency.affect.all') + '</input></label></div>' +
            '</div>',
            buttons: {
                cancel: {
                    className: 'btn-default',
                    label: Translator.trans('app.action.cancel')
                },
                confirm: {
                    className: 'btn-danger',
                    label: Translator.trans('app.action.delete')
                }
            },
            callback: function (result) {
                var affect = $('input[name="delete_affect"]:checked').val();
                if (result) {
                    if (typeof callback === 'function') {
                        callback(affect);
                    } else {
                        window.location.href = deleteUrl;
                    }
                }
            }
        });
    }

</script>
