<div class="modal fade" id="app-modal-appointment" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ 'app.appointment.label'|trans }}</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<script>

    $('#app-modal-appointment').on('show.bs.modal', function (e) {
        render();
    });

    $('body').on('submit', 'form.app-appointment-form', function (e) {
        e.preventDefault();

        var form = $(this);
        ajaxFormHandler(form, function (data) {
            render();
            if (!data.error) {
                $("#calendar").fullCalendar('refetchEvents');
            }
        });
    });

    $('body').on('click', '.app-appointment-create', function (e) {
        e.preventDefault();
        appointmentCreate();
    });

    $('body').on('click', '.app-appointment-edit', function (e) {
        e.preventDefault();
        var appointmentId = $(this).data('entityId');
        appointmentEdit(appointmentId);
    });

    function appointmentEdit(appointmentId) {
        loaderShow();

        var url = Routing.generate('appointment_update', {
            'id': appointmentId
        });

        $.get(url, {}, function (data) {
            data = $.parseJSON(data);
            if (typeof data.form !== 'undefined') {
                $('#app-modal-appointment .modal-body').html(data.form);
                ajaxModalButtons($('#app-modal-appointment'));
                $('#app-modal-appointment').modal('show');
            }
            loaderHide();
        });
    }

    function appointmentCreate(date) {
        loaderShow();

        var routeParams = {};
        if (date !== 'undefined') {
            routeParams.date = date;
        }
        var url = Routing.generate('appointment_create', routeParams);

        $.get(url, {}, function (data) {
            data = $.parseJSON(data);
            if (typeof data.form !== 'undefined') {
                $('#app-modal-appointment .modal-body').html(data.form);
                ajaxModalButtons($('#app-modal-appointment'));
                $('#app-modal-appointment').modal('show');
            }
            loaderHide();
        });
    }

    $('body').on('click', '.app-appointment-remove', function (e) {

        var appointmentId = $(this).data('entityId');
        var el = $(this);

        deleteConfirmationHandler(el, function () {
            loaderShow();

            var url = Routing.generate('appointment_delete', {
                'id': appointmentId
            });

            $.get(url, {}, function (data) {
                loaderHide();
                notify('app.appointment.message.deleted', 'success');
            });
        });
    });


</script>
