{% extends "FOSUserBundle::auth.html.twig" %}

{% block navigation %}{% endblock %}

{% block registerTab %}
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
{% endblock registerTab %}
