{% if entity.phones|length > 0 %}
    {% for phone in entity.phones %}
        <div class="margin-top-5">
            {{ macros.detailRowHtml(phone.phoneType, (macros.renderPhone(phone.phoneNumber, phone.patient.state.country.isoCode, true))) }}
        </div>
    {% endfor %}
{% endif %}
