{% if entity.phones|length > 0 %}
    {% for phone in entity.phones %}
        {{ macros.detailRowHtml(phone.phoneType, ("<a href='tel:" ~ phone.phoneNumber ~ "'>" ~ phone.phoneNumber ~ "</a>")) }}
    {% endfor %}
{% endif %}
