{% extends 'inner.html.twig' %}
{% set header = 'app.patient.plural_label'|trans %}
{% set headerIcon = 'title-patients' %}

{% block pageActions %}
    <a href="{{ path('patient_create') }}" class="btn btn-labeled btn-primary"><span class="btn-label"><i
                    class="glyphicon glyphicon-plus"></i></span>{{ 'app.patient.new'|trans }}</a>
{% endblock %}

{% block body %}
    <section class="content-panel">
        {% include "@App/Patient/include/grid.html.twig" %}
    </section>

    {{ parent() }}
{% endblock %}
