{% extends '@App/Patient/layout.html.twig' %}
{% set subheader = 'app.patient.patient_details' %}

{% block subActions %}
    <a href="{{ path('patient_update', { 'id': app_hash(entity) }) }}" class="btn btn-labeled btn-default"><span
                class="btn-label"><i
                    class="glyphicon glyphicon-pencil"></i></span>{{ 'app.action.edit'|trans }} <span
                class="hide-small">{{ 'app.patient.patient_details'|trans|lower }}</span></a>
{% endblock %}

{% block innerBody %}

    <section class="content-panel">

        {% include "@App/Patient/include/viewForm.html.twig" %}

    </section>

{% endblock %}
