{% extends "AppBundle:UserSettings:layout.html.twig" %}
{% set header = 'layout.account'|trans %}
{% set subheader = 'change_password.submit' %}

{% set buttons %}
    <button type="submit" onclick="$('form.fos_user_change_password:first').trigger('submit');"
            class="btn btn-labeled btn-success"><span
                class="btn-label"><i
                    class="glyphicon glyphicon-ok"></i></span>{{ 'change_password.submit'|trans }}</button>

    <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default">{{ 'app.action.cancel'|trans }}</a>
{% endset %}

{% block subActions %}
    {{ buttons }}
{% endblock %}

{% block innerBody %}
    <section class="content-panel">
        {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
    </section>
{% endblock innerBody %}
