{% extends 'inner.html.twig' %}
{% set header = 'app.invoice.plural_label'|trans %}
{% set headerIcon = 'title-invoices' %}

    {% block pageActions %}
        <a href="{{ path('invoice_create') }}" class="btn btn-primary btn-labeled"><span class="btn-label"><i
                        class="glyphicon glyphicon-plus"></i></span>{{ 'app.invoice.new'|trans }}</a>
    {% endblock %}

{% block body %}
    <section class="content-panel">
        {% include "@App/Invoice/include/grid.html.twig" %}
    </section>
{% endblock %}
