{% extends 'inner.html.twig' %}

{% block header %}
    {{ 'app.invoice.plural_label'|trans }}
{% endblock %}

{% block body %}

    {% embed "buttons.html.twig" %}
        {% block buttons %}
            <a href="{{ path('invoice_create') }}" class="btn btn-primary">{{ 'app.invoice.new'|trans }}</a>
        {% endblock %}
    {% endembed %}

    <div class="app-list">
    <div class="app-pagination">
        {{ knp_pagination_render(entities) }}
    </div>

    {% include "@App/Invoice/include/list.html.twig" %}
</div>

{% endblock %}
