{% extends '@App/Patient/layout.html.twig' %}

{% block body %}

    {% embed "buttons.html.twig" %}
        {% block buttons %}
            <a href="{{ path('invoice_create_from_patient',{'id':entity.id}) }}" class="btn btn-primary">{{ 'app.invoice.new'|trans }}</a>
        {% endblock %}
    {% endembed  %}

    {% include "@App/Invoice/include/list.html.twig" %}

{% endblock %}
