<div class="modal-refund-invoice modal fade" id="app-modal-refund-pack" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<script>

    $('#app-modal-refund-pack').on('show.bs.modal', function (e) {
        render();
    });

    $('body').on('submit', 'form.app-refund-pack-form', function (e) {
        e.preventDefault();

        var form = $(this);
        ajaxFormHandler(form, function (data) {
            if (!data.error) {
                refreshPatientPage();
            }
        });
    });

    $('body').on('click', '.app-refund-pack-create', function (e) {
        e.preventDefault();
        loaderShow();

        var id = $(this).data('entity');

        var url = Routing.generate('refund_pack_create', {
            'pack': id
        });

        $.get(url, {}, function (data) {
            data = $.parseJSON(data);
            if (typeof data.form !== 'undefined') {
                $('#app-modal-refund-pack .modal-body').html(data.form);
                $('#app-modal-refund-pack').modal('show');
                var treatmentName = $('#app-modal-refund-pack .treatment-name').text();
                $('#app-modal-refund-pack .modal-title').text(Translator.trans('app.refund.pack_refund') + ' - ' + treatmentName);
                ajaxModalButtons($('#app-modal-refund-pack'));
            }
            loaderHide();
        });
    });

    $('body').on('change keyup', '#app-modal-refund-pack .pack-refund-amount-field', function (e) {
        recalcPackRefundsTotal();
    });

    function recalcPackRefundsTotal() {
        var totalField = $("#app-modal-refund-pack .app-pack-refund-total");
        var price = parseFloat($(totalField).data('price')).toFixed(2);
        var amount = parseInt($("#app-modal-refund-pack .pack-refund-amount-field option:selected").text());
        $(totalField).val((amount * price).toFixed(2));
    }

    function refreshPatientPage() {
        window.location.reload();
    }

    $('body').on('click', '.app-invoice-refund-remove', function (e) {

        var paymentId = $(this).data('entityId');
        var el = $(this);

        deleteConfirmationHandler(el, function () {
            loaderShow();

            var url = Routing.generate('refund_delete', {
                'id': paymentId
            });

            $.get(url, {}, function (data) {
                refreshInvoicePage();
            });
        });
    });

</script>
