{% extends 'inner.html.twig' %}
{% set header = 'layout.account'|trans %}
{% set headerIcon = 'title-patient-detail' %}

{% block body %}

    <div class="subpage-titlebar">
        {% if subheader is defined %}
            <h2 class="subpage-title hidden-xs hidden-sm">{{ subheader|trans }}</h2>

            <div class="btn-group visible-xs visible-sm">
                <h2 class="subpage-title" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">{{ subheader|trans }} <span class="caret"></span></h2>

                <?php include 'includes/patients-menu-mobile.php'; // mobile menu ?>

            </div>
        {% endif %}

        <div class="subpage-actions">
            {% block subActions %}{% endblock %}
        </div>
    </div>

    <div class="row">

        <div class="col-md-8 col-lg-9">
            {% block innerBody %}
            {% endblock %}
        </div>

        <div class="col-md-4 col-lg-3 hidden-xs hidden-sm">
            <section class="content-panel">
                {{ knp_menu_render('profile', {'currentClass': 'active', 'template':'AppBundle:Menu:innerMenu.html.twig'}) }}
            </section>
        </div>
    </div>

{% endblock %}
