
body {
    /*padding-top: 15px !important;
    padding-bottom: 15px !important;*/
}

.arrived:link, .arrived:visited {
    background-color: #67b4be;
    color: #fff;
}

.arrived:hover {
    background-color: #529AA4;
    color: #fff;
}

.fieldLabel {
    width: 250px;
    display: inline-block;
}

.form-auth {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin #username {
    margin-bottom: -1px;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.form-signin #password {
    margin-bottom: 10px;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.patient-alert-icon {
    opacity: 0.5;
}

.form-signin .form-control {
    /*width: 100% !important;*/
}

.progress {
    margin-bottom: 0px !important;
    margin-top: 15px !important;
}

.registration-submit {
    display: none;
}

.display-none {
    display: none;
}

.modal-backdrop {
    background-color: #fff !important;
    opacity: 0.5 !important;
}

.modal-content {
    overflow: visible !important;
}

.date-selectors select {
    margin-right: 10px;
}

.right-align {
    text-align: right !important;
}

.invoice-actions div {
    margin-top: 10px;
}

.invoice-actions div:first-child {
    margin-top: 0;
}

.table th {
    border-top: 0px !important;
}

.label {
    padding-top: 0.4em !important;
    padding-right: 0.7em !important;
    padding-left: 0.7em !important;
    border-radius: 0.35em !important;
}

.label-default {
    background-color: rgb(172, 172, 172) !important;
}

.app-patient-mode-toggle {
    position: relative;
    top: -5px;
    margin-left: 8px;
}

.app-unavailable-block-create {
    position: relative;
    top: 5px;
}

.app-appointment-create {
    position: relative;
    top: 5px;
}

.referrer-hint {
    position: relative;
    top: -14px;
    margin-left: 8px;
}

.app-patient-mode-container {
    margin-bottom: 20px;
}

/* ----------------------------- Fullcalendar sticky header ----------------------------- */

.fc-head {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    background-color: white;
    z-index: 9999 !important;
}

/* ----------------------------- Fullcalendar styles ----------------------------- */

.fc-head {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    background-color: white;
    z-index: 9999 !important;
}

.fc-treatment {
    font-size: .85em;
    white-space: nowrap
}

.fc-slats td.fc-widget-content:hover {
    background-color: #dfe9ff;
    opacity: 0.5;
}

.appointment-patient-arrived {
    border-left: 3px solid #3a87ad !important;
}

.appointment-future-booking {
    border-left: 3px solid #FF0000 !important;
}

.appointment-invoice-created {
    border-left: 3px solid #008000 !important;
}

.event-patient-arrived {
    border-left: 3px solid #0000FF !important;
}

/* font sizes */
.fc-content .fc-time-font span {
    line-height: 1.3 !important;
}

.fc-content .fc-time-font span {
    font-size: 1em !important;
}

.fc-content .fc-time {
    font-size: 1em !important;
    display: none !important;
}

.fc-time-grid-event.fc-short .fc-title {
    font-size: 1em !important;
    padding: 0
}

.fc-event {
    font-size: .72em;
}

/* disabled weekend background */
.fc-nonbusiness {
    background: none !important;
    display: none !important;
}

/* disabled weekend background */
.fc-toolbar {
    display: none !important;
}

/* disabled resource column headers */
.fce-col-header {
    display: none !important;
}

/* header cells height */
.fc-widget-header div:first-of-type {
    height: 21px !important;
    line-height: 21px !important;
}

.fc-day-header * {
    font-weight: normal;
}

.calendar-section {
    background: #fff;
    position: relative;
}

.app-date-jumper-toggler-container {
    position: absolute;
    top: 1px;
    left: 0px;
    z-index: 1000;
    text-align: center;
}

.app-date-jumper-quick-prev {
    position: absolute;
    top: 1px;
    left: 7px;
    z-index: 1000;
    text-align: center;
}

.app-date-jumper-quick-next {
    position: absolute;
    top: 1px;
    right: 7px;
    z-index: 1000;
    text-align: center;
}

#app-date-jumper-buttons {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

.app-date-jumper-toggler-container .popover.right .arrow {
    visibility: hidden !important;
}

/*
.app-date-jumper-toggler-container .popover {
    max-width: 800px !important;
}
*/

.app-date-jumper-toggler-container .popover-content {
    padding: 0px !important;
}

#app-date-jumper-prev th.prev *,
#app-date-jumper-prev th.next *,
#app-date-jumper-next th.prev *,
#app-date-jumper-next th.next * {
    opacity: 0.0 !important;
}

#app-date-jumper-next {
    border-top: 1px solid #d5d5d5;
}

#app-date-jumper-prev {
    border-right: 1px solid #d5d5d5;
}

#app-date-jumper-prev th.picker-switch:hover,
#app-date-jumper-next th.picker-switch:hover {
    color: #000 !important;
    background-color: #fff !important;
    cursor: default;
}

#app-date-jumper,
#app-date-jumper-prev,
#app-date-jumper-next {
    opacity: 0.0;
}

/* ----------------------------- Horizontal row ----------------------------- */

.app-form-horizontal .control-label {
    margin-top: 8px;
}

.app-form-horizontal .form-group:after {
    content: '';
    display: block;
    clear: both;
}

/* ----------------------------- Select2 ----------------------------- */

.select2-container {
    display: block !important;
    width: auto !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 34px;
}

.select2-container .select2-selection--single {
    height: 34px;
}

.select2-selection__arrow {
    height: 32px !important;
}

/* ----------------------------- Datagrid ----------------------------- */

.app-datagrid-table {
    position: relative;
    overflow: hidden;
}

.app-datagrid-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
    display: none;
    overflow: hidden;
    z-index: 2000;
}

.app-datagrid .edit-item:before {
    font-family: FontAwesome;
    content: "\f040";
    position: absolute;
    top: -5px;
    right: 0;
    font-size: 22px;
    color: #3cb878;
}

.app-datagrid .delete-item:before {
    font-family: FontAwesome;
    content: "\f1f8";
    position: absolute;
    top: -5px;
    right: 0;
    font-size: 22px;
    color: #ff0000;
}

.app-datagrid td:last-child {
    text-align: right;
}

.app-datagrid td:last-child a {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

/* ----------------------------- Loader ----------------------------- */

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
    display: none;
    overflow: hidden;
    z-index: 2000;
}

.loader-overlay {
    position: absolute;
    width: 10000px;
    height: 10000px;
    top: 0px;
    left: 0px;
    background: #fff;
    opacity: 0.5;
}

.loader-center {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    color: #292929;
}

.glyphicon-refresh-animate {
    font-size: 60px;
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

/* ----------------------------- Calendar styles ----------------------------- */

td.cell-empty {
    background: none !important;
}

td.cell-empty:hover {
    background: none !important;
}

.appt-alert a {
    color: #a94442;
}

/* ----------------------------- Settings ----------------------------- */

.settings-panel h4 {
    margin-top: 0px !important;
    padding-top: 0px !important;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

.settings-panel h4 a:hover, .settings-panel h4 a:active {
    text-decoration: none;
}

.settings-panel h4 a i {
    margin-right: 6px;
}

.settings-collapse {
    display: none;
}

.variable-add {
    cursor: pointer;
    margin-right: 10px;
}

/* ----------------------------- Dashboard ----------------------------- */

.dashboard-panel .panel-title {
    cursor: pointer;
}

.dashboard-panel .widget-content {
    margin: 20px 0 0 0;
}

/* ----------------------------- Report ----------------------------- */

.report-form {
    display: none;
}

/* ----------------------------- Helpers ----------------------------- */

.position-relative {
    position: relative;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}
