body {
    padding: 30px !important;
}

.fieldLabel {
    width: 250px;
    display: inline-block;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin #username {
    margin-bottom: -1px;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.form-signin #password {
    margin-bottom: 10px;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.patient-alert-icon {
    opacity: 0.5;
}

.form-control {
    width: auto !important;
}

.form-signin .form-control {
    width: 100% !important;
}

/* ----------------------------- Loader ----------------------------- */

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
    display: none;
    overflow: hidden;
    z-index: 2000;
}

.loader-overlay {
    position: absolute;
    width: 10000px;
    height: 10000px;
    top: 0px;
    left: 0px;
    background: #fff;
    opacity: 0.55;
}

.loader-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #292929;
}

.loader-text {
    margin-top: 10px;
    font-size: 20px;
}

.glyphicon-refresh-animate {
    font-size: 60px;
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

/* ----------------------------- Helpers ----------------------------- */

.margin-left-10 {
    margin-left: 10px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}
