{% extends 'inner.html.twig' %}
{% set header = 'app.dashboard.label'|trans %}
{% set headerIcon = 'title-dashboard' %}

{% block body %}
    <div class="row">
        {% include "@App/Dashboard/widgetCalendar.html.twig" %}
    </div>

    {% include "@App/PatientAlert/include/modal.html.twig" %}
{% endblock %}
