{% extends 'inner.html.twig' %}
{% set header = 'app.dashboard.label'|trans %}
{% set headerIcon = 'title-dashboard' %}

{% block body %}
<div class="row">
    {#
    {% include "@App/Dashboard/widgetCalendar.html.twig" %}
    #}

    <div class="col-lg-6 dash-col2">

        {#
        {% include "@App/Dashboard/widgetCommunication.html.twig" %}

        {% include "@App/Dashboard/widgetTask.html.twig" %}

        {% include "@App/Dashboard/widgetRecall.html.twig" %}

        {% include "@App/Dashboard/widgetInvoice.html.twig" %}

        {% include "@App/Dashboard/widgetTreatmentNote.html.twig" %}
        #}

        {% include "@App/Dashboard/widgetGoal.html.twig" %}

    </div>
</div>

<script>
    $(document).ready(function () {
        $('body').on('click', '.dashboard-panel .panel-title', function () {
            var widgetContent = $(this).parents('.dashboard-panel:first').find('.widget-content:first');
            var widgetName = $(widgetContent).data('widgetName');

            if (typeof widgetName !== "undefined") {
                var state = $(widgetContent).is(':visible') ? '0' : '1';

                var url = Routing.generate('dashboard_widget_state', {
                    'widgetName': widgetName,
                    'state': state,
                });

                $.post(url, {});
            }

            $(this).find('.chevron').toggleClass("glyphicon-chevron-up glyphicon-chevron-down");

            $(widgetContent).slideToggle();
        });
    });
</script>

{% include "@App/PatientAlert/include/modal.html.twig" %}
{% endblock %}
