{% import '@App/macros.html.twig' as macros %}

<div id="treatment-notes-widget-contents">
    <section class="content-panel">
        {{ macros.loaderSmall() }}
    </section>
</div>

<script>
    $(document).ready(function () {

        refreshTreatmentNotesWidget();

    });

    function refreshTreatmentNotesWidget() {
        loaderShow();

        var url = Routing.generate('dashboard_widget_treatment_note');

        $.post(url, {}, function (data) {
            var html = $.parseHTML(data);
            $("#treatment-notes-widget-contents").html(html);
            loaderHide();
        });
    }
</script>
