<div class="col-lg-6 appointment-list">

</div>

<script>
    $(document).ready(function () {

        refreshCalendarWidget();

        $('body').on('slid.bs.carousel', '#calendar-widget-carousel', function () {
            var currentIndex = $('#calendar-widget-carousel .carousel-inner div.item').index($('#calendar-widget-carousel .carousel-inner div.item.active'));
            var totalItems = $('#calendar-widget-carousel .carousel-inner div.item').length - 1;
            var date = $('#calendar-widget-carousel .carousel-inner div.item.active').attr('data-date');
            if (currentIndex === 0 || currentIndex === totalItems) {
                refreshCalendarWidget(date);
            }
        });

    });

    function refreshCalendarWidget(date, animation) {
        loaderShow();

        var routeOptions = {};

        routeOptions.date = date;
        if (typeof date === 'undefined') {
            if ($('.appointment-list input[name="current-date"]').length) {
                routeOptions.date = $('.appointment-list').find('input[name="current-date"]').val();
            }
        }

        var url = Routing.generate('dashboard_widget_calendar', routeOptions);

        $.post(url, {}, function (data) {
            var html = $.parseHTML(data);

            $(html).find('table').each(function () {

                var table = $(this);

                $(table).find('td[data-event-id]').each(function () {
                    var eventId = $(this).data('eventId');
                    var rowspan = 1;

                    $(table).find('td[data-event-id="' + eventId + '"]:gt(0)').each(function () {
                        rowspan++;
                        $(this).remove();
                    });

                    $(this).prop('rowspan', rowspan);
                });

                $(table).find('td.cell-empty').each(function () {
                    var emptyCell = $(this);
                    var resourceId = $(emptyCell).data('resourceId');
                    var resourceCounter = $(emptyCell).data('resourceCounter');

                    var prevEventCell = null;
                    var prevEmptyCell = null;

                    $(table).find("td.cell-event[data-resource-id='" + resourceId + "']").each(function () {
                        var eventResourceCounter = $(this).data('resourceCounter');
                        if (eventResourceCounter < resourceCounter) {
                            prevEventCell = $(this);
                        } else {
                            return false;
                        }
                    });

                    $(table).find("td.cell-empty[data-resource-id='" + resourceId + "']").each(function () {
                        var eventResourceCounter = $(this).data('resourceCounter');
                        if (eventResourceCounter < resourceCounter) {
                            prevEmptyCell = $(this);
                        } else {
                            return false;
                        }
                    });

                    if (prevEmptyCell) {

                        var rowspan = false;

                        if (prevEventCell) {
                            if ($(prevEventCell).data('resourceCounter') < $(prevEmptyCell).data('resourceCounter')) {
                                rowspan = true;
                            }
                        } else {
                            rowspan = true;
                        }

                        if (rowspan) {
                            $(emptyCell).remove();
                            var prevEmptyCellRowspan = $(prevEmptyCell).prop('rowspan');
                            $(prevEmptyCell).prop('rowspan', prevEmptyCellRowspan + 1);
                        }
                    }

                });

                $(table).find('tr').each(function () {
                    if ($(this).find('td').length === 0) {

                        var emptyRow = $(this);

                        $(html).find('.app-resource-ids').each(function () {
                            var resourceId = $(this).val();

                            $(emptyRow).prevAll('tr').each(function () {
                                if ($(this).find("td[data-resource-id='" + resourceId + "']:first").length) {
                                    var prevCell = $(this).find("td[data-resource-id='" + resourceId + "']:first");
                                    var prevCellRowspan = $(prevCell).prop('rowspan');
                                    $(prevCell).prop('rowspan', prevCellRowspan - 1);
                                    return false;
                                }
                            });
                        });

                        $(emptyRow).remove();
                    }
                });

            });

            $(".appointment-list").html(html);
            loaderHide();
        });
    }
</script>

{% include "@App/Appointment/include/modal.html.twig" %}
{% include "@App/Event/scripts.html.twig" %}
{% include "@App/Event/modal.html.twig" %}
