{% import '@App/macros.html.twig' as macros %}

<div id="communication-widget-contents">
    <section class="content-panel">
        {{ macros.loaderSmall() }}
    </section>
</div>

<script>
    $(document).ready(function () {

        refreshCommunicationWidget();

    });

    function refreshCommunicationWidget() {
        loaderShow();

        var url = Routing.generate('dashboard_widget_communication');

        $.post(url, {}, function (data) {
            var html = $.parseHTML(data);
            $("#communication-widget-contents").html(html);
            loaderHide();
        });
    }
</script>

{% include "@App/MessageLog/include/script.html.twig" %}
{% include "@App/CommunicationEvent/include/modal.html.twig" %}
