{% import '@App/macros.html.twig' as macros %}

<div id="recall-widget-contents">
    <section class="content-panel">
        {{ macros.loaderSmall() }}
    </section>
</div>

<script>
    $(document).ready(function () {

        refreshRecallWidget();

        $('body').on('change', '.recall-completed', function () {
            var state = $(this).is(':checked') ? 1 : 0;
            var recallId = $(this).data('entityId');

            var url = Routing.generate('recall_complete', {
                'id': recallId,
                'state': state,
            });

            $.post(url, {}, function (data) {
                if (state === 1) {
                    notify('app.recall.message.completed', 'success');
                } else {
                    notify('app.recall.message.uncompleted', 'success');
                }
            });

        });

    });

    function refreshRecallWidget() {
        loaderShow();

        var url = Routing.generate('dashboard_widget_recall');

        $.post(url, {}, function (data) {
            var html = $.parseHTML(data);
            $("#recall-widget-contents").html(html);
            loaderHide();
        });
    }
</script>

{% include "@App/Recall/include/modal.html.twig" %}
