{% extends 'base.html.twig' %}

    {% block navigation %}
        {% include "navigation.html.twig" %}
    {% endblock %}

{% block body %}

    <div class="form-auth" style="margin-top: 30px; background: #fff; margin-left: auto; margin-right: auto; width: auto;">
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>

{% endblock %}
