{% extends '@App/UserSettings/layout.html.twig' %}

{% block header %}
    {{ 'app.concession.plural_label'|trans }}
{% endblock %}

{% block body %}

    {% embed "buttons.html.twig" %}
        {% block buttons %}
            <a href="{{ path('concession_create') }}" class="btn btn-primary">{{ 'app.concession.new'|trans }}</a>
        {% endblock %}
    {% endembed %}

    {% include "@App/Concession/include/grid.html.twig" %}

{% endblock %}
