{% extends '@App/UserSettings/layout.html.twig' %}
{% set subheader = 'app.concession.plural_label' %}

{% block subActions %}
    <a href="{{ path('concession_create') }}" class="btn btn-labeled btn-default"><span
                class="btn-label"><i
                    class="glyphicon glyphicon-plus"></i></span>{{ 'app.concession.new'|trans }}</a>
{% endblock %}

{% block innerBody %}
    <section class="content-panel">
        {% include "@App/Concession/include/grid.html.twig" %}
    </section>
{% endblock %}
