{% extends '@App/UserSettings/layout.html.twig' %}
{% set header = 'app.concession.plural_label'|trans %}

{% block body %}

    {% embed "buttons.html.twig" %}
        {% block buttons %}
            <a href="{{ path('concession_create') }}" class="btn btn-primary">{{ 'app.concession.new'|trans }}</a>
        {% endblock %}
    {% endembed %}

    {% include "@App/Concession/include/grid.html.twig" %}

{% endblock %}
