{% extends '@App/Patient/layout.html.twig' %}
{% set subheader = entity.id ? 'app.patient_alert.edit' : 'app.patient_alert.new' %}

{% set buttons %}
    {% include "@App/Recall/include/buttons.html.twig" %}
{% endset %}

{% block subActions %}
    {{ buttons }}
{% endblock %}

{% block innerBody %}

    <section class="content-panel">
        {% include "@App/Recall/include/form.html.twig" %}
    </section>

{% endblock %}
