{% if not entity.id %}
    <div class="pull-left">
        <a href="#" type="button" class="app-appointment-create switch-modals">{{ 'app.appointment.new'|trans }}</a>
    </div>
{% endif %}

<button type="button" class="btn btn-default" data-dismiss="modal">{{ 'app.action.cancel'|trans }}</button>

<button type="submit" onclick="$('form[name={{ form.vars.name }}]').trigger('submit'); return false;"
        class="btn btn-success">{{ 'app.unavailable_block.new'|trans }}</button>
