{% if not entity.id %}
    <button type="button" class="btn btn-default app-appointment-create">{{ 'app.appointment.new'|trans }}</button>
{% endif %}

<button type="submit" onclick="$('form[name={{ form.vars.name }}]').trigger('submit'); return false;"
        class="btn btn-success">{{ 'app.action.save'|trans }}</button>

<button type="button" class="btn btn-danger" data-dismiss="modal">{{ 'app.action.cancel'|trans }}</button>
