<div class="modal fade" id="app-modal-patient-recall" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ 'app.recall.label'|trans }}</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<script>

    $('body').on('change', '#app-modal-patient-recall .recall-type-container select', function (e) {
        var type = $(this).find('option:selected').data('type');
        if (type == 'email') {
            $('#app-modal-patient-recall .sms-container').hide();
            $('#app-modal-patient-recall .subject-container').show();
            $('#app-modal-patient-recall .message-container').show();
            $('#app-modal-patient-recall .notes-container').hide();

            $('#app-modal-patient-recall .patient-container').show();
            $('#app-modal-patient-recall .patient-phone-container').hide();
            $('#app-modal-patient-recall .patient-email-container').show();
        } else if (type == 'phone') {
            $('#app-modal-patient-recall .sms-container').hide();
            $('#app-modal-patient-recall .subject-container').hide();
            $('#app-modal-patient-recall .message-container').hide();
            $('#app-modal-patient-recall .notes-container').show();

            $('#app-modal-patient-recall .patient-container').show();
            $('#app-modal-patient-recall .patient-phone-container').show();
            $('#app-modal-patient-recall .patient-email-container').hide();
        } else if (type == 'sms') {
            $('#app-modal-patient-recall .sms-container').show();
            $('#app-modal-patient-recall .subject-container').hide();
            $('#app-modal-patient-recall .message-container').hide();
            $('#app-modal-patient-recall .notes-container').hide();

            $('#app-modal-patient-recall .patient-container').show();
            $('#app-modal-patient-recall .patient-phone-container').show();
            $('#app-modal-patient-recall .patient-email-container').hide();
        } else if (type == 'email & sms') {
            $('#app-modal-patient-recall .sms-container').show();
            $('#app-modal-patient-recall .subject-container').show();
            $('#app-modal-patient-recall .message-container').show();
            $('#app-modal-patient-recall .notes-container').hide();

            $('#app-modal-patient-recall .patient-container').show();
            $('#app-modal-patient-recall .patient-phone-container').show();
            $('#app-modal-patient-recall .patient-email-container').show();
        } else if (type == 'manual') {
            $('#app-modal-patient-recall .sms-container').hide();
            $('#app-modal-patient-recall .subject-container').hide();
            $('#app-modal-patient-recall .message-container').hide();
            $('#app-modal-patient-recall .notes-container').show();

            $('#app-modal-patient-recall .patient-container').show();
            $('#app-modal-patient-recall .patient-phone-container').show();
            $('#app-modal-patient-recall .patient-email-container').show();
        } else {
            $('#app-modal-patient-recall .sms-container').hide();
            $('#app-modal-patient-recall .subject-container').hide();
            $('#app-modal-patient-recall .message-container').hide();
            $('#app-modal-patient-recall .notes-container').hide();

            $('#app-modal-patient-recall .patient-container').hide();
            $('#app-modal-patient-recall .patient-phone-container').hide();
            $('#app-modal-patient-recall .patient-email-container').hide();
        }
    });

    $('body').on('submit', 'form.app-patient-recall-form', function (e) {
        e.preventDefault();

        var form = $(this);
        ajaxFormHandler(form, function (data) {
            $('#app-modal-patient-recall form .recall-type-container select').trigger('change');
            if (!data.error) {
                if (typeof refreshRecallWidget === 'function') {
                    refreshRecallWidget();
                } else {
                    if (typeof refreshRecallList === 'function') {
                        refreshRecallList();
                    }
                }
            }
        });
    });

    {% if patient is defined or entity is defined %}

    $('body').on('click', '.app-patient-recall-create', function (e) {
        e.preventDefault();
        loaderShow();

        var url = Routing.generate('patient_recall_create', {
            'patient': '{{ app_hash(patient is defined ? patient : (entity.patient is defined ? entity.patient : entity)) }}'
        });

        $.get(url, {}, function (data) {
            data = $.parseJSON(data);
            if (typeof data.form !== 'undefined') {
                $('#app-modal-patient-recall .modal-body').html(data.form);
                $('#app-modal-patient-recall .modal-title').text(Translator.trans('app.recall.label'));
                $('#app-modal-patient-recall').modal('show');
                $('#app-modal-patient-recall form .recall-type-container select').trigger('change');
                ajaxModalButtons($('#app-modal-patient-recall'));
                render();
            }
            loaderHide();
        });
    });

    {% endif %}

    $('body').on('change', ' select[name="recallType"]', function (e) {
        e.preventDefault();
        e.stopPropagation();
        var recallId = $(this).attr('data-id');
        var recallType = $(this).val();
        var row = $(this).parents('.app-patient-recall-edit:first');
        var edit = $(this).parents('tr:first').find('.app-patient-recall-edit:first');

        $(this).find('option[value=""]').remove();

        var url = Routing.generate('recall_change_type', {
            'recall': recallId,
            'type': recallType,
        });

        loaderShow();
        $.get(url, {}, function (data) {
            loaderHide();
            $(row).trigger('click');
            $(edit).trigger('click');
        });
    });

    $('body').on('click', '.app-patient-recall-edit select[name="recallType"]', function (e) {
        e.preventDefault();
        e.stopPropagation();
    });

    $('body').on('click', '.app-patient-recall-edit', function (e) {
        e.preventDefault();

        var recallId = $(this).data('entityId');
        var canBeOpened = $(this).data('canBeOpened');

        if (canBeOpened == '1') {
            loaderShow();
            
            var url = Routing.generate('recall_update', {
                'id': recallId
            });

            $.get(url, {}, function (data) {
                data = $.parseJSON(data);
                if (typeof data.form !== 'undefined') {
                    $('#app-modal-patient-recall .modal-body').html(data.form);
                    $('#app-modal-patient-recall .modal-title').text(Translator.trans('app.recall.label') + ' - ' + data.data.type);
                    $('#app-modal-patient-recall').modal('show');
                    $('#app-modal-patient-recall form .recall-type-container select').trigger('change');
                    ajaxModalButtons($('#app-modal-patient-recall'));
                    render();
                }
                loaderHide();
            });
        }
    });

    $('body').on('click', '.app-patient-recall-remove', function (e) {

        var recallId = $(this).data('entityId');
        var el = $(this);

        deleteConfirmationHandler(el, function () {
            loaderShow();

            var url = Routing.generate('recall_delete', {
                'id': recallId
            });

            $.get(url, {}, function (data) {
                refreshAlertList();
                loaderHide();
                notify('app.patient_recall.message.deleted', 'success');
            });
        });
    });

    function refreshRecallList() {
        var url = window.location.href + '?skip';
        window.location.href = url;
    }


</script>
