{% extends 'inner.html.twig' %}

{% set header = entity.id ? 'app.appointment.edit'|trans : 'app.appointment.new'|trans %}
{% set headerIcon = 'title-appointment' %}

{% set cancelPath = path('calendar_index') %}

{% set buttons %}
    {% include "@App/Appointment/include/buttons.html.twig" %}
{% endset %}

{% block pageActions %}
    {{ buttons }}
{% endblock %}

{% block body %}
    <section class="content-panel">
        {% include "@App/Appointment/include/form.html.twig" %}
    </section>
{% endblock %}
