{% extends '@App/UserSettings/layout.html.twig' %}
{% set subheader = 'app.treatment_note_template.plural_label' %}

{% block subActions %}
    <a href="{{ path('treatment_note_template_create') }}"
       class="btn btn-labeled btn-default"><span
                class="btn-label"><i
                    class="glyphicon glyphicon-plus"></i></span>{{ 'app.treatment_note_template.new'|trans }}</a>
{% endblock %}

{% block innerBody %}
    <section class="content-panel">
        {% include "@App/TreatmentNoteTemplate/include/grid.html.twig" %}
    </section>
{% endblock %}
