{% extends '@App/Patient/layout.html.twig' %}
{% set subheader = 'app.attachment.plural_label' %}

{% block subActions %}
    <a href="{{ path('attachment_create_from_patient',{'id':app_hash(entity)}) }}"
       class="btn btn-labeled btn-default"><span
                class="btn-label"><i
                    class="glyphicon glyphicon-pencil"></i></span>{{ 'app.action.add'|trans }} <span
                class="hide-small">{{ 'app.attachment.label'|trans|lower }}</span></a>
{% endblock %}

{% block innerBody %}

    <section class="content-panel">
        {% include "@App/Attachment/include/grid.html.twig" %}
    </section>

{% endblock %}
