{% extends '@App/Patient/layout.html.twig' %}

{% block body %}

    {% embed "buttons.html.twig" %}
        {% block buttons %}
            <a href="{{ path('attachment_create_from_patient',{'id':app_hash(entity)}) }}" class="btn btn-primary">{{ 'app.attachment.new'|trans }}</a>
        {% endblock %}
    {% endembed  %}

    {% include "@App/Attachment/include/list.html.twig" %}

{% endblock %}
