{% extends '@App/Patient/layout.html.twig' %}
{% set subheader = 'app.message_log.label' %}

{% block subActions %}
    <a href="{{ path('communication_event_create') }}"
       class="btn btn-default btn-labeled app-communication-event-create"><span class="btn-label"><i
                    class="glyphicon glyphicon-plus"></i></span>{{ 'app.communication_event.add'|trans }}</a>
{% endblock %}

{% block innerBody %}

    <section class="content-panel">
        {% include "AppBundle:MessageLog/include:grid.html.twig" %}
        {% include "@App/MessageLog/include/script.html.twig" %}
        {% include "@App/CommunicationEvent/include/modal.html.twig" %}
    </section>

{% endblock %}
