<button type="button" class="btn  btn-default" data-dismiss="modal">{{ 'app.action.cancel'|trans }}</button>

<button type="submit" onclick="$('form[name={{ form.vars.name }}]').trigger('submit'); return false;"
        class="btn btn-success">{{ entity.id ? ('app.action.save'|trans) : ('app.non_invoice_refund.issue'|trans) }}</button>
